<p id="notice"><%= notice %></p>

<p>
  <strong>File title:</strong>
  <%= @blog_report.file_title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @blog_report.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog_report.body %>
</p>

<%= link_to 'Edit', edit_blog_report_path(@blog_report) %> |
<%= link_to 'Back', blog_reports_path %>
